/********************* ALL LINKS *******************************/
a {
    color: rgb(101, 244, 236);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
}
a:focus, a:hover {
    color:  rgb(109, 253, 114);
}
a:active {
    background-color: rgb(244, 198, 83);
}
/**************************************************/

/*********** STILL NEED TO FIX THESE AS A STANDARDIZED STYLE *************/
/* TRANSACTION 'DETAILS' LINK/BUTTON */
/* .details {
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: 900;
    justify-self: self-end;
    text-transform: uppercase;
    color:  rgb(11, 47, 41);
    outline: none;
    border: none;
    border-radius: 4px;
    background: rgb(101, 244, 236);   
} */

/*****************************************************************************/
/*****************************************************************************/
/*****************************************************************************/