@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 
font-family: 'MuseoModerno', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* THIS WILL BE REPLACED WHEN DATABASE POPULATES IT */
.userData {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin: -10px 0 10px 0;
}
/****************************************************/


.UserOverview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 0 0 20px;
}
.UserOverview>h2 {
    color: rgb(249, 157, 149);
    font-family: 'Roboto', sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0 0;
}

/* THIS WILL BE REPLACED IF MADE INTO LINKs/BUTTONs */
.balance, .allowance {
    color: rgb(101, 244, 236);
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}
.btn:focus, .btn:hover {
    color: white;
    outline: none;
}
.btn:active {
    color: rgb(244, 198, 83);
}
/****************************************************/