/* Note: I added ul and li properties in index.css. Please see. */

/* Would have used overviewContainer but the margin is skewing it to the right -Miki */
.overviewSection {
  background-color: #282e33;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15px;
  padding: 15px;
  text-align: left;
}

.btnsFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}